<template>
    <div class="footer-wraper">
        <div class="logo">
            <!-- <img src="../assets/academ.svg" alt=""> -->
        </div>
        <div class="kaff-title">
            <h3 class="kaf">ФАУ «Главгосэкспертиза России»</h3>
            <p></p>
            <h3 class="kaf">Цифровой прорыв 2023</h3>
            <p></p>
            <h3 class="kaf">NaturaLP</h3>
        </div>
        <div class="link-text">
            <a href="https://hacks-ai.ru" class="link-text-a">Сайт хакатона</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "Footer_olimp",
};
</script>

<style>
#p {
    margin: 0;
    padding: 0 0 10px 0;
}

.footer-wraper {
    margin-top: 100vh;
    padding: 10px;
    background: #1f264a;
    color: #bd9a7a;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.8);

}
.logo {
    margin: 1%;
    /* max-height: 90px; */
}
.kaff-title {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}


.link-text-a {
    display: block;
    margin-left: auto;
    width: fit-content;
    transition: color 0.3s ease;
}

.link-text-a:hover {
    color: #85a6b1;
}

.link-text-a:active {
    color: #8bd7d1;
}
</style>
