<template>
    <div class="header">
        <div class="header-left">
            <div class="name-site">NaturaLP</div>
            <svg
                version="1.1"
                height="70"
                id="svg39"
                viewBox="0 0 117.2551 133.22537"
                sodipodi:docname="cd8202a7eb3c39a3c832c8eee4edf0db.cdr"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg"
            >
                <defs id="defs43" />
                <sodipodi:namedview
                    id="namedview41"
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1.0"
                    inkscape:pageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                />
                <g id="Layer1000" transform="translate(-244.9097,-92.119981)">
                    <path
                        d="m 261.0513,96.5441 5.6588,0.0292 c -0.6358,1.303 -3.3933,2.8173 -5.5511,2.0871 z m 84.8055,1.8935 c -2.2501,0.7804 -4.7693,-0.8147 -5.6792,-2.0407 l 5.7407,0.0125 z m -22.9705,-5.421 -1.5384,1.1064 c 0.7101,3.236 2.9027,4.8912 6.0664,5.5672 l 0.0496,1.6801 c -3.6541,1.9823 -5.3141,1.8159 -8.4234,5.5415 -5.5607,6.6622 -0.9873,9.155 -5.1293,8.7038 l -0.0601,-13.8668 1.908,-0.2245 0.0301,-5.0528 c -2.0217,-0.3869 -5.3969,0.6795 -7.0181,1.3663 -2.5939,1.0984 -3.2901,1.9837 -5.1128,3.5303 -0.9771,-0.3212 -1.381,-1.1345 -2.3139,-1.7703 -0.7498,-0.5113 -1.6606,-1.154 -2.7068,-1.6174 -1.7859,-0.7906 -4.8827,-1.6764 -7.2193,-1.4715 -0.4584,1.3434 -0.2129,3.5141 -0.1502,5.0216 l 1.8739,0.2259 c 0.2883,4.0414 0.0349,8.0805 0.0457,12.1017 0.005,1.6625 0.2823,0.7262 -0.2574,1.8042 l -1.6447,0.0253 c -0.034,-6.3638 -5.2942,-12.3081 -10.5616,-13.724 -1.6687,-0.4487 -1.1457,-0.2851 -1.1483,-2.1251 2.4659,-0.8949 5.163,-1.5676 6.0698,-5.4272 l -1.3688,-1.3788 c -4.9051,3.5731 -8.1312,1.8771 -13.5913,0.4946 -2.3785,-0.6023 -4.682,-1.3178 -7.3593,-1.1871 -3.1785,0.1548 -3.6125,1.7935 -4.5173,4.1751 -4.3999,-0.0051 -8.4084,0.3039 -9.921,4.0805 -0.7568,1.8902 -0.5074,4.1029 0.2291,5.8805 0.7991,1.9287 1.0519,3.526 3.7457,3.1334 0.6321,-2.1489 0.3588,-2.6427 1.9448,-4.045 3.7202,-3.2894 9.9108,0.5031 12.3177,3.2468 -1.0162,2.6688 -2.647,0.2673 -5.0281,1.6132 -1.6773,0.9479 -2.1603,3.0404 -2.1713,5.3529 3.5234,0.0865 1.1959,-0.5559 3.2247,-1.639 3.3003,-1.7617 8.8526,0.5664 11.0636,2.5175 1.9584,1.7285 4.6196,8.4909 0.2075,9.6894 -1.9749,0.5363 -2.5299,-0.3708 -3.8832,-0.7671 -0.7305,0.4323 -0.7254,0.5737 -1.247,1.2331 0.5658,2.1166 3.4336,3.8208 5.258,5.1055 -0.428,0.447 -1.3277,1.095 -1.851,1.3308 -3.1113,-1.7215 -5.7909,-5.5153 -13.8691,-4.9552 -4.1153,0.2851 -6.836,2.1379 -9.1613,5.0159 -0.627,0.7764 -1.2784,1.9431 -1.7849,3.0234 -2.2045,4.7018 -2.8248,10.516 -2.4889,16.3517 0.2279,3.9526 1.6215,12.8715 3.1006,15.8312 2.266,-1.8845 3.8489,-5.2092 4.5771,-8.0598 0.8541,-3.3437 0.4229,-8.4804 0.5363,-12.1949 2.0823,0.0669 1.838,2.2952 1.8295,4.231 -0.009,1.9831 0.1029,4.2568 -0.1299,6.1997 -0.4155,3.4679 0.5593,3.7683 1.8409,6.696 0.155,0.3537 0.2871,0.6638 0.4461,0.9841 l 0.7036,1.046 c 1.4732,-1.226 2.9957,-4.3069 3.6689,-6.7195 0.8716,-3.1226 0.4569,-6.5968 0.6338,-9.9218 1.9698,0.4918 1.8553,1.4051 1.8286,3.6295 -0.0238,1.9788 -0.0238,3.3978 -0.3489,5.3396 -0.3773,2.2518 0.263,2.2238 1.0052,3.9509 0.4274,0.9952 1.2829,3.1686 1.8524,3.9404 l 1.095,-1.0953 c 3.0767,-4.2845 3.4064,-7.6427 3.4818,-13.0906 2.221,0.4322 1.9508,2.1126 1.8074,4.075 -0.4717,6.4625 -2.4602,7.8452 -5.5395,12.4864 0.1956,0.7067 0.2937,1.3838 0.8076,1.8365 l 9.7753,-10.0896 c 2.1299,-2.334 5.2903,-5.1046 7.4344,-7.4443 0.7175,-0.7827 1.9315,-2.1266 2.509,-2.4449 -0.4853,-1.6827 -5.298,-6.6705 -1.613,-7.522 0.9321,2.1634 1.5602,4.1402 2.9676,5.7087 1.0316,-0.3541 2.0608,-1.8879 2.8701,-2.6867 0.8547,-0.8436 2.1152,-2.0197 2.827,-3.0379 -1.3564,-3.1748 -1.9389,-5.6531 -0.2214,-9.0077 2.2108,-4.318 4.7333,-3.9812 6.3406,-5.1522 -0.6971,-1.6073 -1.2909,-1.967 -1.3011,-4.0666 l 0.002,-16.7346 c 1.2025,-0.3861 5.1491,-0.1664 6.6424,-0.131 l 0.002,16.6181 c 0.0153,2.6158 -0.7404,2.4551 -1.2336,4.3141 1.3459,0.9116 7.5112,2.3235 7.3547,9.5845 -0.0487,2.2583 -0.7151,2.9222 -1.2637,4.5754 0.7671,1.2143 5.3717,5.5491 6.6683,6.904 l 10.1701,10.2289 c 1.6376,1.6509 8.8764,9.6939 10.2212,10.2359 l 0.5709,-1.9225 c -2.759,-3.9784 -5.0981,-5.6372 -5.6036,-12.0231 -0.155,-1.9605 -0.4115,-4.0437 1.6277,-4.3696 0.5525,1.33 -0.3112,10.1491 4.7764,14.1859 0.5913,-1.1341 1.1231,-2.5307 1.7387,-3.7754 0.8108,-1.6396 1.4843,-2.2051 1.1444,-4.0558 -0.3529,-1.9242 -0.3994,-3.3021 -0.4184,-5.3306 -0.0176,-1.8952 -0.2095,-3.4101 1.743,-3.7165 0.8705,3.223 -1.0522,11.0021 4.0252,16.1612 0.3912,0.3977 -0.032,0.0862 0.4306,0.377 0.6106,-0.7237 1.5843,-3.0719 2.033,-4.0759 1.1974,-2.6782 1.2359,-1.7195 0.8583,-4.8983 -0.2332,-1.9647 -0.1547,-4.0102 -0.1476,-6.0058 0.008,-2.3252 -0.3456,-3.7448 1.7563,-4.2468 1.3921,7.4409 -2.1745,10.961 4.3809,19.3612 0.533,0.6828 0.3076,0.4835 0.959,0.7367 1.5616,-3.4362 2.7244,-11.45 2.9991,-15.7496 0.6003,-9.3917 -1.675,-23.5621 -13.3455,-24.2779 -4.1741,-0.256 -7.9583,0.8473 -11.1308,2.9288 -1.171,0.7682 -1.8258,1.4757 -2.7627,2.0732 -0.7818,-0.3169 -1.3538,-0.8172 -1.8779,-1.2291 1.4981,-1.7847 3.1903,-1.6679 5.2401,-5.0357 -0.3847,-0.8292 -0.6191,-0.5448 -1.0758,-1.5117 -1.3161,0.5485 -4.958,2.5163 -6.1962,-1.0321 -2.253,-6.4576 6.097,-11.7102 11.9267,-10.7119 2.1598,0.3702 1.8967,0.6324 2.7831,1.9979 l 1.8969,0.0337 c -0.0989,-2.2116 -0.3534,-4.2539 -1.9652,-5.2727 -2.5676,-1.6228 -3.6292,1.1205 -5.2356,-1.5032 1.4811,-3.1057 11.5863,-8.4512 13.9195,-0.739 0.3955,1.3073 -0.2511,0.1837 0.5043,1.3221 l 1.9794,-0.0462 c 1.5755,-2.1524 3.4543,-6.573 1.5296,-9.794 -1.9341,-3.2366 -5.3974,-3.0396 -9.6775,-3.2956 -0.6868,-2.5106 -1.449,-3.9132 -4.3792,-4.1116 -7.3381,-0.4967 -14.5576,6.0851 -20.8641,0.8696 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path2"
                    />
                    <path
                        d="m 302.6242,214.7508 1.8683,0.0224 0.005,6.1469 -1.8908,0.003 z m 1.0341,-14.205 c 1.4678,-1.3445 2.8026,-2.9548 5.8657,-2.289 6.2309,1.3544 6.0608,10.8777 -0.5867,10.9599 -1.8916,0.0232 -2.0433,-0.6948 -3.2692,-0.9303 l -0.6512,0.587 c 0.3178,0.8255 -0.0413,0.1891 0.639,0.9077 0.2996,0.316 0.5153,0.4889 0.845,0.8243 l 3.145,3.1008 c 0.6565,0.7038 1.0335,1.1665 2.2023,0.7523 0.2307,-0.7971 0.0652,-1.1273 -0.1982,-1.8048 l -1.5902,-0.0694 c -0.9936,-2.3653 2.0894,-2.5334 3.2601,-0.6506 1.1628,1.8703 0.0207,4.0215 -1.7107,4.4201 -3.0844,0.7098 -5.1202,-3.9127 -7.9509,-5.8777 -1.0488,0.5848 -2.6728,2.5419 -3.6043,3.4555 -1.1704,1.148 -2.08,2.7788 -4.2275,2.5117 -1.7677,-0.2199 -3.1148,-2.1262 -2.1966,-4.1547 0.8433,-1.8629 4.0144,-2.609 3.5053,0.2027 -0.6599,0.2956 -1.4513,-0.3875 -1.8728,0.8073 -0.4683,1.3274 0.7682,1.6001 1.6157,1.0857 0.0573,-0.0349 8.4005,-7.3497 3.8738,-5.8272 -1.862,0.6261 -3.0384,1.1622 -5.0391,0.1145 -4.8963,-2.5639 -2.5909,-10.9534 3.5801,-10.5129 0.8856,0.0633 1.7612,0.4102 2.492,0.8578 0.5088,0.3118 0.5051,0.3702 0.9057,0.7625 z m -0.72,-14.809 1.1999,-0.008 c 0.6358,0.6628 0.07,0.3782 0.5122,0.826 0.5105,0.5171 0.1545,-0.1099 0.8119,0.4964 0.0235,3.1192 -0.7283,0.1723 -1.0009,2.4001 0.2797,0.1309 0.0348,0.081 0.5309,0.1017 0.1718,0.007 0.5913,-0.0348 0.8291,-0.0365 0.5644,-0.003 0.8807,0.0348 1.3771,0.2409 3.3355,1.3847 1.3807,5.2404 0.5513,6.8565 l -8.4027,0.043 c -0.2665,-0.6661 -3.1093,-5.0521 0.3742,-6.8153 1.1797,-0.5973 1.7617,-0.1823 2.887,-0.2092 -0.0252,-2.5271 -1.2316,0.5443 -0.9819,-2.0911 0.1874,-1.9809 0.0723,-0.006 1.0194,-1.2515 0.2474,-0.3254 -0.2832,0.0601 0.2925,-0.553 z m -16.2193,30.7584 c 0.8807,0.6262 16.4571,8.8362 16.7369,8.8501 0.4708,0.0229 15.5571,-7.9498 16.8891,-8.8878 0.3257,-3.9424 0.0587,-8.7945 0.0573,-12.8463 -0.002,-4.5091 0.3951,-7.8035 -1.215,-11.6946 -6.1398,-14.838 -26.3296,-12.8761 -31.2023,-0.116 -1.5704,4.1123 -1.3649,7.026 -1.3317,11.5705 0.0306,4.1822 -0.2107,9.0346 0.0657,13.1241 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path4"
                    />
                    <path
                        d="m 274.1856,175.7081 6.3,-0.1018 0.0998,3.9404 c 2.3913,-0.3687 1.8763,-1.7005 2.0974,-3.8715 1.1678,-0.2469 6.0165,-0.1106 7.776,-0.1012 0.6936,0.003 2.0732,-0.0938 2.6954,0.1973 -2.6932,1.777 -2.4287,0.8504 -6.4343,4.4164 -0.8119,0.7225 -0.9905,1.2804 -2.2405,1.3441 -2.8718,0.1466 -12.4447,-0.4773 -14.2339,0.1732 -0.5386,1.3153 -0.2611,4.1148 -0.1559,5.7779 2.3045,-0.1341 1.8731,-1.8318 2.1605,-3.9521 l 11.1549,-0.003 c -0.1462,0.6339 -1.1829,2.0047 -1.6197,2.7868 -0.5669,1.0145 -0.9292,1.94 -1.4434,3.0622 l -10.1302,0.0519 c 0.6608,1.2501 1.8647,2.0787 3.6774,2.0651 1.6192,-0.0122 4.2463,-0.3827 5.5004,0.1448 0.2585,0.7512 -0.4606,2.918 -0.5735,4.1037 -0.2934,3.0804 -0.1533,2.2867 1.0939,4.2149 l 2.8117,0.0479 c 0.2234,-3.9762 0.1125,-5.9281 1.4845,-9.366 1.201,-3.009 3.397,-6.116 5.5154,-7.9208 13.79,-11.7465 33.8445,-2.2048 34.5447,14.4048 0.0246,0.5867 -0.1327,2.2816 0.3285,2.6461 2.0608,0.8881 3.7015,-0.4907 3.7724,-2.3893 0.0813,-2.1793 -0.6696,-3.9784 -0.8054,-5.9879 3.1215,-0.1965 6.7439,0.4388 7.9206,-0.5944 l 1.3592,-1.548 -10.1806,0.0759 c -0.8841,-2.9301 -2.4775,-4.3843 -2.9617,-5.8861 l 11.1277,-0.0156 c 0.0785,2.1387 -0.1287,3.7029 2.179,3.9206 l -0.0343,-5.9335 c -4.7055,-0.1769 -9.8538,0.3115 -14.3756,0.0218 -1.3637,-0.0873 -1.5735,-0.8129 -2.2759,-1.4411 -3.3761,-3.0197 -5.0806,-3.2856 -6.5821,-4.3937 l 10.6733,-0.055 c 0.0128,2.2867 -0.1981,3.7423 2.0333,3.8336 l 0.0615,-3.7823 6.3428,-0.117 c -2.0948,-2.6893 -6.6761,-1.982 -9.5105,-1.9917 l -43.2003,0.1095 c -1.5488,-0.002 -2.5455,-0.2203 -3.6567,0.424 -0.6032,0.3498 -2.0114,1.0647 -2.2958,1.6895 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path6"
                    />
                    <path
                        d="m 259.6309,192.0912 c 1.4247,3.0075 5.4462,7.558 7.7334,9.6528 2.7771,2.5432 12.877,11.9543 15.4225,12.6547 -0.4062,-8.2375 -3.507,-12.4344 -7.3993,-17.0745 -1.8122,-2.1605 -10.6755,-10.3742 -13.0093,-11.2053 -1.5327,4.5691 0.4867,1.2506 -2.7473,5.9723 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path8"
                    />
                    <path
                        d="m 324.2908,214.24 c 0.9148,-0.1831 0.5885,-0.1092 1.8825,-1.0766 0.5505,-0.4116 1.0831,-0.8127 1.643,-1.2371 3.7644,-2.8522 5.6662,-4.6686 9.1329,-7.6651 3.3415,-2.8885 8.333,-8.4104 10.4899,-12.17 -1.1168,-2.3063 -1.703,-0.9519 -2.7065,-6.2399 -0.6914,0.284 -3.081,2.2376 -3.6071,2.6674 -5.3603,4.377 -11.4273,9.5689 -14.493,16.0112 -1.3977,2.9367 -2.2442,5.904 -2.3417,9.7101 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path10"
                    />
                    <path
                        d="m 269.0252,173.759 0.2693,2.1696 c 2.2966,-0.8186 9.5037,-5.6761 12.2278,-7.4115 l 11.336,-8.3072 c 5.6381,2.9257 14.078,3.4906 20.2153,0.4853 1.8286,-0.8955 1.7203,-0.1346 4.8965,2.2181 5.1058,3.7817 8.9825,6.6663 14.529,9.9459 1.2572,0.7433 4.0867,2.5422 5.2115,2.8985 l 0.4187,-2.1796 c -2.6881,-0.8195 -12.6499,-8.3134 -15.7295,-10.5517 -1.0698,-0.7775 -1.7175,-1.305 -2.9559,-2.3164 l -5.9457,-4.7166 c -4.8124,2.452 -9.6001,3.7338 -15.3604,2.0083 -1.9559,-0.5859 -2.9154,-1.2319 -4.5595,-1.9236 l -7.3857,5.8167 c -0.6154,0.4454 -0.841,0.6735 -1.4754,1.1679 -2.7488,2.1422 -13.4546,9.8841 -15.692,10.6963 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path12"
                    />
                    <path
                        d="m 258.5384,190.3314 c 4.4305,-3.4962 0.3915,-15.669 -1.4814,-20.5126 -0.3974,-1.0281 -0.862,-2.0276 -1.2844,-3.0385 -0.4436,-1.0615 -1.1214,-2.0653 -1.5174,-3.0378 -0.8699,0.7903 -1.4133,2.9775 -4.2261,5.9266 -1.2799,1.3417 -0.7878,1.3122 -0.0596,3.3648 1.3887,3.9146 6.5855,15.6203 8.5689,17.2975 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path14"
                    />
                    <path
                        d="m 348.4616,190.175 c 1.6393,-1.2697 6.3944,-11.8469 7.0608,-13.4297 0.4731,-1.1243 0.9686,-2.4554 1.4193,-3.6258 0.7038,-1.8275 1.3518,-2.3055 0.1871,-3.5329 -0.8062,-0.8498 -1.514,-1.7676 -2.2604,-2.7963 -1.1083,-1.5279 -1.4822,-2.774 -2.0429,-3.2627 -1.6563,2.7164 -4.0788,8.7038 -4.9714,12.3069 -1.2492,5.044 -2.5631,10.1602 0.6075,14.3405 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path16"
                    />
                    <path
                        d="m 339.0055,187.6904 c 0.7463,-0.4655 5.1624,-3.8891 5.5462,-4.4031 0.3161,-0.936 0.5948,-4.1612 0.8836,-5.5768 0.4728,-2.3159 2.355,-7.7347 2.3607,-7.7738 0.1854,-1.2634 -1.0494,-1.5899 -2.4959,-4.1156 -0.4368,-0.7628 -0.7285,-1.5364 -1.3442,-2.0333 -1.4868,3.4934 -2.8244,6.2127 -3.9535,10.4281 -0.7523,2.8086 -1.7541,10.7538 -0.9969,13.4745 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path18"
                    />
                    <path
                        d="m 262.4043,183.4994 5.7844,4.3205 c 0.0107,-5.0119 0.0612,-8.7003 -1.1339,-13.3818 -1.0854,-4.2516 -2.4724,-6.7671 -3.9402,-10.4235 -0.7925,0.6956 -1.8034,2.8355 -2.5971,3.9138 -1.8195,2.4718 -1.6596,1.0635 -0.4456,4.5947 1.2861,3.7417 1.9968,6.8181 2.3324,10.9763 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path20"
                    />
                    <path
                        d="m 302.7796,134.1884 c -7.4433,1.2623 -5.5089,11.909 1.8241,10.6444 2.6314,-0.4535 4.9147,-3.1042 4.3075,-6.4411 -0.453,-2.4906 -3.1006,-4.7175 -6.1316,-4.2033 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path22"
                    />
                    <path
                        d="m 299.9826,206.9201 c -0.5595,-0.5967 -2.1022,-1.8956 -2.1971,-2.6643 2.7836,-1.5353 3.9999,2.6198 5.8728,3.3525 1.8266,-1.1993 3.1195,-4.5555 5.6398,-3.4254 -0.0683,1.232 -1.5046,1.6484 -2.0599,2.8143 4.4937,1.8901 6.4675,-3.4671 3.6309,-6.0429 -1.2504,-1.1353 -3.5368,-1.3074 -5.0174,-0.1953 -0.6003,0.451 -1.2137,1.004 -1.1718,2.0211 0.0439,1.0751 0.5134,2.2847 -0.8169,2.5089 -2.6827,0.4519 -0.368,-2.6444 -2.3585,-4.3251 -1.4845,-1.2535 -3.5025,-1.3093 -4.987,-0.1774 -3.5229,2.6864 -0.6624,8.5339 3.4651,6.1336 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path24"
                    />
                    <path
                        d="m 286.4818,167.7404 7.9716,-0.0504 0.0958,3.8732 c 2.1892,-0.2565 2.1007,-1.8751 2.103,-3.9665 l 13.8314,0.059 c 0.03,2.1024 -0.2892,3.7281 2.0505,3.829 l 0.038,-3.8293 8.2786,-0.0485 c -2.1849,-2.6458 -4.4779,-1.9723 -7.5923,-1.9689 l -23.9961,0.0533 c -0.701,0.102 -1.7989,0.8387 -2.3196,1.2886 -0.7195,0.6214 -0.4434,-0.0856 -0.4609,0.7605 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path26"
                    />
                    <path
                        d="m 344.7748,108.5139 c 2.9699,0.8402 2.9424,0.9805 4.6061,2.8143 1.0383,1.144 2.6033,2.7513 4.1507,3.5487 4.6746,2.4085 8.3223,-0.9199 8.6332,-5.5149 -1.7422,0.0142 -1.5984,-0.3554 -2.3411,0.887 -0.4944,0.8274 -0.7617,1.1503 -1.9123,1.3068 -1.9394,0.2642 -3.4775,-0.4127 -4.8413,-1.2813 -2.0919,-1.3325 -4.513,-4.0413 -8.2967,-3.6093 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path28"
                    />
                    <path
                        d="m 246.7783,109.7218 -1.8686,-0.0236 c 0.0252,4.4663 4.1236,7.6428 8.443,5.4397 2.6189,-1.3357 3.9053,-3.8585 6.1251,-5.3855 1.3008,-0.8949 1.6648,-0.6577 2.7541,-1.1812 l 0.0715,-1.8286 c -6.5384,0.3435 -7.6913,4.9101 -11.9435,5.1114 -2.4682,0.1171 -2.647,-0.5298 -3.5816,-2.1322 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path30"
                    />
                    <path
                        d="m 295.1036,154.5837 c 4.4294,2.9356 3.8498,-1.6988 6.5937,-1.8156 7.0189,-0.2985 4.3659,1.0769 7.721,2.954 l 2.4727,-0.993 c -0.3079,-0.7273 -4.6075,-4.6837 -5.5112,-5.4476 -1.1466,-0.9689 -1.1607,-0.3747 -2.9633,-0.3943 -1.8295,-0.0201 -1.5171,-0.9482 -4.5774,2.1475 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path32"
                    />
                    <path
                        d="m 306.7628,194.802 c 0.7203,-2.0152 0.629,-4.0924 -1.938,-3.034 -0.3172,0.8615 -0.3235,2.0294 -0.3807,3.134 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path34"
                    />
                    <path
                        d="m 302.5522,194.8226 c 0.8924,-5.5437 -4.5147,-3.4701 -1.9233,0.0488 z"
                        style="fill: #9d7e4b; fill-rule: evenodd"
                        id="path36"
                    />
                </g>
            </svg>

            <svg
                version="1.1"
                height="50"
                id="svg13"
                viewBox="0 0 80.815078 27.39913"
                sodipodi:docname="6510bd221086e931961c695dc08abdaf.cdr"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg"
            >
                <defs id="defs17" />
                <sodipodi:namedview
                    id="namedview15"
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1.0"
                    inkscape:pageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                />
                <g id="Layer1000" transform="translate(-327.64845,-218.22684)">
                    <text x="350.48721" y="237.869" id="text4">
                        <tspan
                            font-family="Arial"
                            font-size="6.5px"
                            fill="#fff"
                            id="tspan2"
                        >
                            СТРОЙКОМПЛЕКС
                        </tspan>
                    </text>
                    <text x="350.66721" y="245.31821" id="text8">
                        <tspan
                            font-family="Arial"
                            font-size="6.5px"
                            fill="#fff"
                            id="tspan6"
                        >
                            РОССИИ
                        </tspan>
                    </text>
                    <path
                        d="m 327.9319,244.8924 v -15.3 h 11.85 v 15.7502 m -7.6502,0 v -22.0502 l 12.9002,-4.7999 m -12.9002,26.8501 12.9002,-0.3 v -26.5501 m 3.75,26.7001 v -7.6501 m -12.4503,7.7025 2e-4,-7.1024 5.8502,-4.0502 6.5999,3.4501"
                        style="
                            fill: none;
                            stroke: #fff;
                            stroke-width: 0.5669;
                            stroke-linecap: butt;
                            stroke-linejoin: miter;
                            stroke-dasharray: none;
                        "
                        id="path10"
                    />
                </g>
            </svg>
            <div class="bird"></div>
        </div>

        <div class="right-side">
            <div class="sigin-button-wrap">
                <button
                    class="sigin-button"
                    @click="$router.push({ name: 'download' })"
                    v-if="this.$route.name == 'start'"
                >
                    Загрузить документ
                </button>
            </div>

            <div class="sigin-button-wrap">
                <button
                    class="sigin-button"
                    @click="$router.push({ name: 'start' })"
                    v-if="this.$route.name != 'start'"
                >
                    Вернуться на главную
                </button>
            </div>
            <!-- <LogOut
            v-if="!isSatartPage && !isRegisterPage && !isSigInpage"
            /> -->
        </div>
    </div>
</template>

<script>
export default {
    name: "Header_Hack",
    computed: {
        isSatartPage() {
            return this.$route.name == "start";
        },
        isRegisterPage() {
            return this.$route.name == "registration";
        },
        isSigInpage() {
            return this.$route.name == "sign";
        },
    },
};
</script>

<style scoped>
.header {
    margin-bottom: 30px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1f264a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.name-site {
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bd9a7a;
}

.bird {
    background-image: url("../assets/bird.svg");
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration-button-wrap {
    display: flex;
}
.sigin-button-wrap {
    /* margin-right: 5%; */
}
.sigin-button {
    font-family: "Josefin Sans", sans-serif !important;

    /* height: 35px; */
    /* width: 95px; */
    padding: 18px;
    color: #fff;
    /* background: linear-gradient(to top, #8fecc8); */
    /* background-color: #9d2235; */
    background-color: #bd9a7a;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sigin-button:hover {
    /* background-color: #821b2b; */
    background-color: #ae8866;
}

.sigin-button:active {
    /* background-color: #60131f; */
    background-color: #977454;
}

.register-button {
    height: 35px;
    color: #ffffff;
    background-color: #18181c;
    border: 2px solid #b43f11;
    border-radius: 7px;
}
</style>
