<template>
    <Header_Hack />
    <div class="main-wrapper">
        <div class="main-content">
            <h2 class="section__header">Результат обработки файлов</h2>

            <!-- groups : {{ groups }} -->
            <!-- {{ loading }} -->

            <div class="lds-ring" v-if="isLoading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <ul class="classification__list" v-if="!isLoading">
                <li
                    class="classification__item"
                    v-for="GROUP in groups"
                    :key="GROUP"
                    :class="{ active: GROUP.isActive }"
                    @click="toggleClass(GROUP)"
                >
                    <div class="classification__item-container">
                        <div class="item-wrapper">
                            <p class="title-group">
                                <span class="text-bold">Категория:</span>
                                {{ GROUP.category }}
                            </p>
                            <p class="description">
                                <span class="text-bold">Основные слова:</span>
                                {{ GROUP.description }}
                            </p>
                        </div>
                        <div class="count__container">
                            <p class="count-document">
                                <span class="text-bold"
                                    >Количество документов:</span
                                >
                                {{ GROUP.amount }}
                            </p>
                        </div>
                        <div class="classification__button-container">
                            <button
                                @click="result_in_category(GROUP)"
                                class="classification__button"
                            >
                                Результаты соответствия
                            </button>
                            <div class="classification__input-container">
                                <span>Наименование ОКС: </span>
                                <input
                                    v-model="iunput_user"
                                    class="classification__input"
                                />
                            </div>
                        </div>
                        <p>
                            <small>Нажмите, чтобы узнать подробности</small>
                        </p>
                    </div>
                    <div class="classification__item-files">
                        <p
                            class="document-wrap"
                            v-for="document_ in GROUP.file_names"
                            :key="document_"
                        >
                            {{ document_ }}
                        </p>
                        <p
                            v-for="(predict_, index_) in predict.content"
                            v-bind:key="index_"
                        >
                            № страницы : {{ predict_.page_num }}
                            {{ predict_.rate }} % соответствия Результат:
                            {{ predict_.description }}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <Footer />
</template>

<script>
import axios from "axios";
import Footer from "../components/Footer.vue";
import Header_Hack from "../components/Header_Hack.vue";
export default {
    components: {
        Footer,
        Header_Hack,
    },
    data() {
        return {
            groups: [],
            isLoading: false,
            isActive: false,
            iunput_user: "",
            little_group: [],
            predict: [],
        };
    },
    async mounted() {
        this.isLoading = true;
        try {
            await axios
                .get("http://localhost:8000/api/upload_test")
                .then((response) => {
                    console.log(response.data);
                    this.groups = response.data;
                    this.isLoading = false;
                });
        } catch {
            console.log("Wrong");
            this.isLoading = false;
        }
    },
    methods: {
        async toggleClass(item) {
            item.isActive = !item.isActive;
        },
        async result_in_category(category) {
            // this.little_group = Object.values(category.file_names) ;
            category = JSON.parse(JSON.stringify(category));
            const list = [];
            category.file_names.map((item) => {
                list.push(item);
            });
            this.little_group = list;
            console.log(this.little_group);
            // category = JSON.parse(JSON.stringify(category))
            // this.little_group = category.file_names
            // console.log(this.little_group)

            await axios
                .post(
                    `http://localhost:8000/api/one_classification_list/${this.iunput_user}`,
                    { data_: this.little_group }
                )
                .then((response) => {
                    this.predict = response.data;
                });
        },
        // async result(group) {
        //     try {
        //         const response = await axios.get(
        //             `http://localhost:8000/api/one_classification/${this.iunput_user}/${group}`,
        //             {
        //                 // params: {
        //                 //     list_doc:
        //                 // }
        //             }
        //         );
        //         this.groups = response.data;
        //         console.log(response.data);
        //         // this.$router.push({ name: 'sign' })
        //     } catch (e) {
        //         this.error = e.message;
        //     }
        // },
    },
};
</script>

<style>
.classification__list {
    margin-top: 20px;
    list-style: none;
}

.classification__item-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #1f264a;
    color: #d0d0d0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.classification__item-container:hover {
    box-shadow: 5px 5px 5px rgb(136, 133, 133);
}

.classification__item-container:active {
    box-shadow: 5px 5px 5px rgb(187, 85, 85);
}

.item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-bold {
    font-weight: 600;
}

.count__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.classification__input {
    padding: 10px;
    width: 90%;
    border-radius: 4px;
    border: none;
    background-color: #bd9a7a;
    color: #fefefe;
    font-size: 18px;
}

.classification__input-container {
    width: 65%;
}

.classification__button-container {
    display: flex;
    justify-content: space-between;
}

.classification__button {
    padding: 14px;
    color: #fff;
    background-color: #bd9a7a;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.classification__button:hover {
    background-color: #ae8866;
}

.classification__button:active {
    background-color: #977454;
}

.document-wrap {
    margin: 0;
    padding: 20px;
    background: #bd9a7a;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.document-wrap:hover {
    background: #9d2235;
}

.document-wrap:active {
    background: #60131f;
}

.classification__item-files {
    display: none;
}

.active .classification__item-files {
    display: block;
}

.document-wrap:not(:last-child) {
    border-bottom: 1px dashed black;
}

.active {
    transition: box-shadow 0.3s ease;
}

.active:hover {
    box-shadow: 5px 5px 5px rgb(136, 133, 133);
}

.active:active {
    box-shadow: 5px 5px 5px rgb(187, 85, 85);
}
</style>
