<template>
    <div class="Download-Page">
        <Header_Hack />
        <div class="main-content">
            <h2 class="section__header text">Страница загрузки файла</h2>
            <div class="container">
                <div class="sm-container">
                    <input
                        type="file"
                        id="selectedFile"
                        style="display: none"
                        name="images"
                        multiple=""
                        @change="FileInputChange"
                    />
                    <input
                        type="button"
                        class="input-file input__file-download"
                        value="Выбрать файлы"
                        onclick="document.getElementById('selectedFile').click();"
                    />
                    <div class="progress">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            :style="{ width: FileProgress + '%' }"
                        ></div>
                        {{ FileCurrent }}%
                    </div>
                </div>
                <div class="sm-container">
                    <button
                        @click="$router.push({ name: 'oneclassification' })"
                        class="input-file"
                    >
                        Одна категория
                    </button>
                    <button
                        @click="$router.push({ name: 'classification' })"
                        class="input-file"
                    >
                        Несколько категорий
                    </button>
                </div>
                <!-- <table>
                    <th @click="sortList('class')">class &#8597;</th>
                </table> -->

                <div class="row">
                    <div class="list__files_pending">
                        <h3 class="text">
                            Файлы в очереди ({{ FilesOrder.length }})
                        </h3>
                        <ul class="pending__list">
                            <li
                                class="pending__item"
                                v-for="file in sortedList"
                                :key="file"
                            >
                                {{ file.name }} : {{ file.type }}
                            </li>
                        </ul>
                    </div>

                    <div class="list__files_downloaded">
                        <h3 class="text">
                            Загруженные файлы ({{ FilesFinish.length }})
                        </h3>
                        <ul class="downloaded__list" id="downloaded__list">
                            <!-- <li
                                class="downloaded__item"
                                v-for="file_ in FilesFinish"
                                :key="file_"
                            >  
                                {{ file_.file.filename }} : {{  file_.file.type }}
                                <p class="item__mark">
                                    метка {{ file_.class }}
                                </p>
                                <p class="item__probability" @click="$router.push({name:'result', query:{name_file: file_.name}})">
                                    Вероятность {{ file_.prob }}%
                                </p>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</template>

<script>
import axios from "axios";
import Footer from "../components/Footer.vue";
// import { useState } from "../hooks/useState.js";
import Header_Hack from "../components/Header_Hack.vue";
// import router from "@/router";
export default {
    // setup() {
    //     const [data, setData] = useState(null);

    //     return {
    //         data,
    //         setData,
    //     };
    // },

    components: {
        Footer,
        Header_Hack,
    },
    data() {
        return {
            FilesOrder: [],
            FilesFinish: [],
            FileProgress: 0,
            FileCurrent: "",
            ActualData: [],
        };
    },
    methods: {
        async FileInputChange() {
            let files = Array.from(event.target.files);
            this.FilesOrder = files.slice();
            for (let item of files) {
                await this.uploadFile(item);
            }
        },
        async uploadFile(item) {
            let form = new FormData();
            form.append("file", item);
            await axios
                .post("http://localhost:8000/api/upload", form, {
                    onUploadProgress: (itemUpload) => {
                        this.FileProgress = Math.round(
                            (itemUpload.loaded / itemUpload.total) * 100
                        );
                        this.FileCurrent = item.name + " " + this.FileProgress;
                    },
                })
                .then((response) => {
                    this.FileProgress = 0;
                    this.FileCurrent = "";
                    this.FilesFinish.push(response.data);
                    this.FilesOrder.splice(item, 1);
                    console.log(response.data);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        async uploadFile_TES() {
            await axios
                .post("http://localhost:8000/api/upload_test", {})
                .then((response) => {
                    // for (let i in response.data) {
                    //     let li = document.createElement("li");
                    // }
                    const data = response.data;
                    console.log(data);
                    // data.map((item) => {
                    //     const li = document.createElement("li");
                    //     const description = document.createElement("p");
                    //     const amount = document.createElement("p");
                    //     li.classList.add("downloaded__item");

                    //     li.textContent = item.category;
                    //     description.textContent = `Ключевые слова: ${item.description}`;
                    //     amount.textContent = `Количество файлов: ${item.amount}`;

                    //     document.getElementById("downloaded__list").append(li);
                    //     li.append(description);
                    //     li.append(amount);
                    // });
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        async sortList(sortBy) {
            if (this.sortedbyASC) {
                this.FilesFinish.sort((x, y) =>
                    x[sortBy] > y[sortBy] ? -1 : 1
                );
                this.sortedbyASC = false;
            } else {
                this.FilesFinish.sort((x, y) =>
                    x[sortBy] < y[sortBy] ? -1 : 1
                );
                this.sortedbyASC = true;
            }
        },
        // async RedirectButton(){
        //     try{
        //     await axios.get(`http://localhost:8000/api/result/${this.}`)
        // }
        // }
    },
};
</script>

<style>
.main-content {
    padding: 0 5%;
    color: #515561;
}
.progress {
    width: 50%;
}

.container {
    margin-left: 50px;
}

.sm-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    /* gap: 20px; */
    /* justify-content: space-between; */
}

.input-file {
    border-radius: 8px;
    padding: 18px;
    /* height: 40px; */
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    background-color: #9d2235;
    font-weight: 600;
    border: 2px solid #9d2235;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease;
}

.input-file:hover {
    color: #fff;
    background-color: #821b2b;
    border-color: #821b2b;
}
.input-file:active {
    color: #fff;
    background-color: #60131f;
    border-color: #60131f;
}

.downloaded__list,
.pending__list {
    padding: 0;
    list-style: none;
}

.pending__item {
    padding: 15px;
    width: fit-content;
    background-color: #bd9a7a;
    color: #fefefe;
    text-align: center;
    border-radius: 4px;
}

.downloaded__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* margin: 0 auto; */
    padding: 0 50px;
    width: fit-content;
    background-color: #1f264a;
    color: #d0d0d0;
    font-size: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 4px;
}

.downloaded__item:not(:first-child) {
    margin-top: 20px;
}

.downloaded__item:hover {
    box-shadow: 5px 5px 5px rgb(136, 133, 133);
}

.downloaded__item:active {
    box-shadow: 5px 5px 5px rgb(187, 85, 85);
}

.item__mark {
    font-style: italic;
}

.item__probability {
    font-weight: bold;
}

.input__file-download {
    background-color: #bd9a7a;
    color: #fff;
    border: none;
}

.input__file-download:hover {
    background-color: #ae8866;
}

.input__file-download:active {
    background-color: #977454;
}
</style>
