<template>
    <div class="home-page">
        <div class="header">
            <Header_Hack />
        </div>

        <div class="main-page">
            <h1 class="section__header">Домашняя страница</h1>
            <div class="page__instruction">
                <h3>
                    Добро пожаловать на главную страницу NaturaLP проекта! Здесь
                    вы можете ознакомиться с инструкцией пользования нашим
                    программным обеспечением
                </h3>
                <ul class="instruction__list">
                    <li class="instruction__item">
                        <svg
                            xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
                            xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
                            height="100"
                            xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            x="0px"
                            y="0px"
                            viewBox="0 0 100 125"
                            style="enable-background: new 0 0 100 100"
                            xml:space="preserve"
                        >
                            <switch>
                                <foreignObject
                                    requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                    x="0"
                                    y="0"
                                    width="1"
                                    height="1"
                                />
                                <g i:extraneous="self">
                                    <g>
                                        <path
                                            d="M89.7,73.2c0-4.7-3.8-8.5-8.5-8.5c-1.3,0-2.5,0.3-3.6,0.8c-1.5-2.4-4.2-4-7.2-4c-1.3,0-2.5,0.3-3.6,0.8     c-1.4-2.3-4-3.9-6.8-4c5.6-3.7,9.2-9.9,9.2-17.1c0-11.3-9.2-20.5-20.5-20.5c-11.3,0-20.5,9.2-20.5,20.5c0,8.3,4.9,15.5,12.1,18.7     v18l-2.8-2.7c-2.9-2.9-7.5-3.3-10.8-1c-2,1.4-3.3,3.5-3.7,5.9c-0.3,2.4,0.3,4.8,1.9,6.7l8.2,9.8c0.6,0.7,1.5,1.1,2.4,1.1     c0.7,0,1.4-0.2,2-0.7c1.3-1.1,1.5-3.1,0.4-4.4l-8.2-9.7c-0.4-0.5-0.6-1.2-0.5-1.8s0.5-1.2,1-1.6c0.9-0.6,2.2-0.5,3,0.3l5.9,5.9     c1.3,1.2,3.1,1.6,4.7,0.9c1.6-0.7,2.7-2.3,2.7-4V44.1c0-1.3,1-2.3,2.3-2.3c0.6,0,1.2,0.2,1.6,0.7c0.4,0.4,0.7,1,0.7,1.6v26.2     c0,1.7,1.4,3.1,3.1,3.1s3.1-1.4,3.1-3.1v-3.6c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3v6.8c0,1.7,1.4,3.1,3.1,3.1     c1.7,0,3.1-1.4,3.1-3.1V70c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3v6.8c0,1.7,1.4,3.1,3.1,3.1s3.1-1.4,3.1-3.1v-3.3     c0-0.1,0-0.2,0-0.3c0-1.2,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3l0,21.2c0,1.7,1.4,3.1,3.1,3.1s3.1-1.4,3.1-3.1L89.7,73.2z      M48.9,35.6c-4.7,0-8.5,3.8-8.5,8.5v8.6c-3.5-2.6-5.9-6.8-5.9-11.5C34.6,33.3,41,27,48.9,27s14.3,6.4,14.3,14.3     c0,4.6-2.2,8.8-5.7,11.4v-8.4c0-2.3-0.9-4.4-2.5-6C53.3,36.5,51.2,35.6,48.9,35.6z"
                                        />
                                        <path
                                            d="M48.9,15.1c1.7,0,3.1-1.4,3.1-3.1V5.6c0-1.7-1.4-3.1-3.1-3.1s-3.1,1.4-3.1,3.1V12C45.8,13.7,47.1,15.1,48.9,15.1z"
                                        />
                                        <path
                                            d="M26.1,22.8c0.6,0.6,1.4,0.9,2.2,0.9s1.6-0.3,2.2-0.9c1.2-1.2,1.2-3.2,0-4.4l-4.5-4.5c-1.2-1.2-3.2-1.2-4.4,0     c-1.2,1.2-1.2,3.2,0,4.4L26.1,22.8z"
                                        />
                                        <path
                                            d="M19.8,38.2h-6.4c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1h6.4c1.7,0,3.1-1.4,3.1-3.1C22.9,39.6,21.5,38.2,19.8,38.2     z"
                                        />
                                        <path
                                            d="M75,41.1c0,1.7,1.4,3.1,3.1,3.1h6.4c1.7,0,3.1-1.4,3.1-3.1c0-1.7-1.4-3.1-3.1-3.1h-6.4C76.4,38,75,39.4,75,41.1z"
                                        />
                                        <path
                                            d="M69.5,23.6c0.8,0,1.6-0.3,2.2-0.9l4.5-4.5c1.2-1.2,1.2-3.2,0-4.4c-1.2-1.2-3.2-1.2-4.4,0l-4.5,4.5     c-1.2,1.2-1.2,3.2,0,4.4C67.9,23.3,68.7,23.6,69.5,23.6z"
                                        />
                                    </g>
                                </g>
                            </switch>
                        </svg>
                        <p class="instruction__text">
                            Нажмите на кнопку "Загрузить документ"
                        </p>
                    </li>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        height="100"
                        version="1.0"
                        x="0px"
                        y="0px"
                        viewBox="0 -10 90 112.5"
                        enable-background="new 0 0 90 90"
                        xml:space="preserve"
                    >
                        <path
                            fill="#000000"
                            d="M68.8,44.5L29.2,78.3c-2,1.8-5.3,1.5-7-0.5c-1.8-2-1.5-5.3,0.5-7l30.5-26.3L22.7,18.2c-2-1.8-2.3-5-0.5-7  c1.8-2,5-2.3,7-0.5L68.8,44.5z"
                        />
                    </svg>
                    <li class="instruction__item">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            x="0px"
                            y="0px"
                            height="100"
                            viewBox="0 0 512 640"
                            style="enable-background: new 0 0 512 512"
                            xml:space="preserve"
                        >
                            <g>
                                <g>
                                    <path
                                        d="M215.416,276.169c-1.84-0.486-5.312-0.733-10.315-0.733H183.94v29.266h21.372c7.091,0,12.169-1.316,15.095-3.912    c2.903-2.567,4.375-6.273,4.375-11.015c0-3.434-0.866-6.393-2.573-8.797C220.477,278.56,218.191,276.941,215.416,276.169z"
                                    />
                                    <path
                                        d="M294.357,277.152c-2.975-1.139-7.787-1.717-14.309-1.717h-17.275v63.652h17.592c5.475,0,9.83-0.517,12.946-1.537    c3.059-0.989,5.552-2.422,7.413-4.259c2.61-2.646,4.656-6.184,6.074-10.508c1.455-4.44,2.193-9.874,2.193-16.15    c0-8.67-1.438-15.447-4.271-20.146C301.872,281.836,298.385,278.694,294.357,277.152z"
                                    />
                                    <path
                                        d="M96.755,352.983v-91.502c0-22.014,17.91-39.924,39.924-39.924h267.464V118.49l-0.649-0.649    c-0.448,1.719-1.997,2.993-3.856,2.993h-91.366c-2.209,0-4-1.791-4-4V22.68c0-0.627,0.157-1.213,0.414-1.741H94.251    c-23.662,0-42.913,19.266-42.913,42.947v385.178c0,23.675,19.25,42.936,42.913,42.936h309.892v-99.091H136.68    C114.666,392.908,96.755,374.998,96.755,352.983z"
                                    />
                                    <polygon
                                        points="312.271,26.597 312.271,112.834 398.488,112.834   "
                                    />
                                    <path
                                        d="M429.674,229.558h-21.53H136.68c-17.603,0-31.924,14.321-31.924,31.924v91.502c0,17.604,14.321,31.925,31.924,31.925    h271.464h21.53c17.604,0,31.925-14.321,31.925-31.925v-91.502C461.599,243.879,447.277,229.558,429.674,229.558z M230.347,308.04    c-4.688,5.07-13.162,7.641-25.188,7.641H183.94v34.397h-12.2v-85.621h32.421c5.563,0,9.93,0.275,12.978,0.817    c4.213,0.707,7.789,2.062,10.623,4.026c2.852,1.968,5.19,4.781,6.95,8.36c1.74,3.528,2.622,7.485,2.622,11.762    C237.333,296.723,234.983,302.986,230.347,308.04z M319.269,324.025c-1.499,4.966-3.471,9.163-5.86,12.474    c-2.366,3.291-5.001,5.916-7.83,7.802c-2.79,1.872-6.244,3.326-10.266,4.319c-3.971,0.981-8.452,1.458-13.703,1.458h-31.047    v-85.621h29.674c6.639,0,11.74,0.415,15.167,1.234c5.005,1.163,9.137,3.184,12.63,6.176c4.507,3.806,7.925,8.737,10.156,14.655    c2.227,5.942,3.355,12.764,3.355,20.275C321.545,313.261,320.779,319.057,319.269,324.025z M394.614,275.436h-45.88v25.228h39.717    v10.979h-39.717v38.436h-12.2v-85.621h58.08V275.436z"
                                    />
                                </g>
                            </g>
                        </svg>
                        <p class="instruction__text">
                            Выберите файлы, которые необходимо загрузить
                        </p>
                    </li>
                    <li class="instruction__item"></li>
                    <li class="instruction__item"></li>

                    <svg
                        style="margin-top: 20px; margin-bottom: 20px"
                        class="arrow-bot"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        height="100"
                        version="1.0"
                        x="0px"
                        y="0px"
                        viewBox="0 -15 90 112.5"
                        enable-background="new 0 0 90 90"
                        xml:space="preserve"
                    >
                        <path
                            fill="#000000"
                            d="M68.8,44.5L29.2,78.3c-2,1.8-5.3,1.5-7-0.5c-1.8-2-1.5-5.3,0.5-7l30.5-26.3L22.7,18.2c-2-1.8-2.3-5-0.5-7  c1.8-2,5-2.3,7-0.5L68.8,44.5z"
                        />
                    </svg>
                    <li class="instruction__item">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="100"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            x="0px"
                            y="0px"
                            viewBox="0 0 100 125"
                            style="enable-background: new 0 0 100 100"
                            xml:space="preserve"
                        >
                            <path
                                d="M80.5307236,84.0815582l-19.1762733,8.213562c-1.62146,0.6947021-3.5065308,0.244873-4.6399536-1.1063843  l-3.1346436-3.7383423c-0.3936157-0.4692993-0.8898315-0.84198-1.4505615-1.0894165L33.4218941,78.108963  c-2.4192505-0.8989868-3.6409912-3.6546021-2.5783691-6.09552c0.9286499-2.1329956,3.4124756-3.1290894,5.6436768-2.4692383  l8.8104858,2.6045532L32.791584,42.9514923c-1.0119629-2.3622437,0.206665-5.1199951,2.7153931-5.9226685  c2.1869507-0.699707,4.5373535,0.5241699,5.4414673,2.6351929l7.1043091,16.5857544  c-1.0112915-2.3621826,0.2068481-5.1194458,2.7150879-5.9221802c2.1870728-0.7001343,4.5376587,0.5237427,5.4418335,2.6347656  l0.725769,1.6943359c-1.012085-2.3627319,0.2061768-5.1204834,2.7148438-5.9231567  c2.1871948-0.6992188,4.5376015,0.5246582,5.4417152,2.6351929l0.725769,1.6943359  c-1.012146-2.3632202,0.206665-5.1204224,2.715332-5.9226685c2.1867676-0.6991577,4.5369873,0.5236816,5.440918,2.6342163  l1.9454346,4.541748c0.0357666,0.0836792,0.0658569,0.1702271,0.09021,0.2576904l6.8031616,24.7713623  C83.3424301,81.2722321,82.3680038,83.2944489,80.5307236,84.0815582z M42.5523872,20.1358776  c0-7.0327139-5.7216797-12.7543936-12.7543945-12.7543936s-12.7543945,5.7216797-12.7543945,12.7543936  S22.7652779,32.890274,29.7979927,32.890274S42.5523872,27.1685925,42.5523872,20.1358776z M55.0226021,20.1358776  c0-7.0327139,5.7216797-12.7543936,12.7539101-12.7543936c7.0332031,0,12.7548828,5.7216797,12.7548828,12.7543936  S74.8097153,32.890274,67.7765121,32.890274C60.7442818,32.890274,55.0226021,27.1685925,55.0226021,20.1358776z   M58.0226021,20.1358776c0,5.378418,4.3759766,9.7543945,9.7539101,9.7543945c5.3789063,0,9.7548828-4.3759766,9.7548828-9.7543945  s-4.3759766-9.7543936-9.7548828-9.7543936C62.3985786,10.381484,58.0226021,14.7574606,58.0226021,20.1358776z"
                            />
                        </svg>
                        <p>
                            Выберите, какое количество документов вы будете
                            обрабатывать
                        </p>
                    </li>

                    <svg
                        class="arrow-left"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        height="100"
                        version="1.0"
                        x="0px"
                        y="0px"
                        viewBox="0 -10 90 102.5"
                        enable-background="new 0 0 90 90"
                        xml:space="preserve"
                    >
                        <path
                            fill="#000000"
                            d="M68.8,44.5L29.2,78.3c-2,1.8-5.3,1.5-7-0.5c-1.8-2-1.5-5.3,0.5-7l30.5-26.3L22.7,18.2c-2-1.8-2.3-5-0.5-7  c1.8-2,5-2.3,7-0.5L68.8,44.5z"
                        />
                    </svg>

                    <li class="instruction__item">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="100"
                            viewBox="0 0 24 30"
                            x="0px"
                            y="0px"
                        >
                            <title>ui 97</title>
                            <g data-name="Layer 2">
                                <path
                                    d="M12,1.25A10.75,10.75,0,1,0,22.75,12,10.762,10.762,0,0,0,12,1.25Zm0,20A9.25,9.25,0,1,1,21.25,12,9.26032,9.26032,0,0,1,12,21.25Z"
                                />
                                <path
                                    d="M5,11.25H4a.75.75,0,0,0,0,1.5H5a.75.75,0,0,0,0-1.5Z"
                                />
                                <path
                                    d="M12,5.75A.7502.7502,0,0,0,12.75,5V4a.75.75,0,0,0-1.5,0V5A.7502.7502,0,0,0,12,5.75Z"
                                />
                                <path
                                    d="M18.25,12a.7502.7502,0,0,0,.75.75h1a.75.75,0,0,0,0-1.5H19A.7502.7502,0,0,0,18.25,12Z"
                                />
                                <path
                                    d="M12,18.25a.7502.7502,0,0,0-.75.75v1a.75.75,0,0,0,1.5,0V19A.7502.7502,0,0,0,12,18.25Z"
                                />
                                <path
                                    d="M12.75,11.59863V8a.75.75,0,0,0-1.5,0v4a.66934.66934,0,0,0,.01416.06958.76634.76634,0,0,0,.08325.2793.77216.77216,0,0,0,.18579.22424c.01905.0155.03.037.05078.0509l3,2a.75.75,0,1,0,.832-1.248Z"
                                />
                            </g>
                        </svg>
                        <p class="instruction__text">
                            Подождите, пока все файлы загрузятся
                        </p>
                    </li>
                    <svg
                        style="margin-top: 20px; margin-bottom: 20px"
                        class="arrow-bot"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        height="100"
                        version="1.0"
                        x="0px"
                        y="0px"
                        viewBox="0 -10 90 102.5"
                        enable-background="new 0 0 90 90"
                        xml:space="preserve"
                    >
                        <path
                            fill="#000000"
                            d="M68.8,44.5L29.2,78.3c-2,1.8-5.3,1.5-7-0.5c-1.8-2-1.5-5.3,0.5-7l30.5-26.3L22.7,18.2c-2-1.8-2.3-5-0.5-7  c1.8-2,5-2.3,7-0.5L68.8,44.5z"
                        />
                    </svg>
                    <li class="instruction__item"></li>
                    <li class="instruction__item"></li>
                    <li class="instruction__item">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="100"
                            data-name="Layer 1"
                            viewBox="0 0 100 125"
                            x="0px"
                            y="0px"
                        >
                            <title>10</title>
                            <g data-name="Group">
                                <path
                                    data-name="Compound Path"
                                    d="M64.4,12.4H22.5A9.5,9.5,0,0,0,13,21.9V78.1a9.5,9.5,0,0,0,9.5,9.5H64.4a9.4,9.4,0,0,0,9.5-9.5V56.4L84.3,46.1A9.1,9.1,0,0,0,87,39.6a9.5,9.5,0,0,0-2.7-6.5,9.2,9.2,0,0,0-10.4-1.8V21.9A9.4,9.4,0,0,0,64.4,12.4Zm6.5,65.7a6.5,6.5,0,0,1-6.5,6.5H22.5A6.6,6.6,0,0,1,16,78.1V21.9a6.6,6.6,0,0,1,6.5-6.5H64.4a6.5,6.5,0,0,1,6.5,6.5V33.5l-.4.4L68.4,36l-6,6H40.3v3H59.4l-10,10H40.3v3h7.9L45.5,68H40.3v3h4.4a1.6,1.6,0,0,0,.4,1.3,1.5,1.5,0,0,0,1.1.4h.4l14.7-4a1,1,0,0,0,.7-.4l8.9-8.9Zm-20-18.8,7.2,7.2-9.8,2.6ZM61,65.2l-8.8-8.8L70.5,38.2l8.7,8.7Zm21.1-30A6.3,6.3,0,0,1,84,39.6,6.1,6.1,0,0,1,82.1,44l-.7.7L72.7,36l.7-.8A6.2,6.2,0,0,1,82.1,35.2Z"
                                />
                                <rect
                                    data-name="Path"
                                    x="24.3"
                                    y="29"
                                    width="8.5"
                                    height="3"
                                />
                                <rect
                                    data-name="Path"
                                    x="40.3"
                                    y="29"
                                    width="22.5"
                                    height="3"
                                />
                                <rect
                                    data-name="Path"
                                    x="24.3"
                                    y="42"
                                    width="8.5"
                                    height="3"
                                />
                                <rect
                                    data-name="Path"
                                    x="24.3"
                                    y="55"
                                    width="8.5"
                                    height="3"
                                />
                                <rect
                                    data-name="Path"
                                    x="24.3"
                                    y="68"
                                    width="8.5"
                                    height="3"
                                />
                            </g>
                        </svg>
                        <p>Введите ОКС</p>
                    </li>

                    <svg
                        class="arrow"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        height="100"
                        version="1.0"
                        x="0px"
                        y="0px"
                        viewBox="0 -10 90 102.5"
                        enable-background="new 0 0 90 90"
                        xml:space="preserve"
                    >
                        <path
                            fill="#000000"
                            d="M68.8,44.5L29.2,78.3c-2,1.8-5.3,1.5-7-0.5c-1.8-2-1.5-5.3,0.5-7l30.5-26.3L22.7,18.2c-2-1.8-2.3-5-0.5-7  c1.8-2,5-2.3,7-0.5L68.8,44.5z"
                        />
                    </svg>
                    <li class="instruction__item">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            data-name="Layer 1"
                            height="100"
                            viewBox="0 0 100 125"
                            x="0px"
                            y="0px"
                        >
                            <title>36</title>
                            <path
                                d="M94.00153,73.827a.99826.99826,0,0,0,.99829-.99829V22.671a.99823.99823,0,0,0-.99829-.99829H21.95612a.99827.99827,0,0,0-.9983.99829V72.82874a.99831.99831,0,0,0,.9983.99829H53.43134L50.62665,87H37.57733a1.00268,1.00268,0,0,0-1.00268,1.00269v5.99462A1.00268,1.00268,0,0,0,37.57733,95H78.38049a1.00268,1.00268,0,0,0,1.00269-1.00269V88.00269A1.00268,1.00268,0,0,0,78.38049,87H65.33112L62.52643,73.827ZM24.95782,25.67273h66.042V69.827h-66.042Z"
                            />
                            <path
                                d="M37.38318,5h-26.383a6,6,0,0,0-6,6V77a6,6,0,0,0,6,6H38.21033a5.17287,5.17287,0,0,0,5.17285-5.17285H21.95624a4.99854,4.99854,0,0,1-4.99854-4.99854V22.67139a4.99854,4.99854,0,0,1,4.99854-4.99854H43.38318V11A6,6,0,0,0,37.38318,5Z"
                            />
                        </svg>
                        <p class="instruction__text">
                            Пользуйтесь полученными данными
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer">
            <Footer />
        </div>
    </div>
</template>

<script>
import Footer from "../components/Footer.vue";
import Header_Hack from "../components/Header_Hack.vue";
export default {
    components: {
        Footer,
        Header_Hack,
    },
};
</script>

<style>
.main-page {
    padding: 0 5%;
}

.main-page {
    color: #515561;
}

.page__instruction {
    padding: 0 50px;
}

.instruction__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 0;
    width: 100%;
    list-style: none;
}

.instruction__list > * {
    width: calc(100% / 3);
}

.instruction__item {
    text-align: center;
}

.arrow-bot {
    transform: rotate(90deg);
}

.arrow-left {
    transform: rotate(180deg);
}
</style>
