<template>
    <Header_Hack />
    <div class="main-content">
        <h2 class="section__header">Результат обработки</h2>
        <div class="single__container">
            <div class="single__input-container">
                <div class="single__input-container_top">
                    <p style="font-size: 18px; width: 150px">
                        <b>Введите ОКС:</b>
                    </p>
                    <input v-model="iunput_user" class="single__input" />
                </div>
                <div class="single__input-container_bottom"></div>
                <button @click="result()" class="single__button">
                    Посмотреть результаты соответствия
                </button>
                <!-- Введите ОКС
                    iunput_user: {{ iunput_user }} -->
            </div>

            <div class="lds-ring" v-if="isLoading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <ul class="classification__list single-classification__list">
                <li
                    class="name-file single__item"
                    v-for="(file_, index) in groups.data"
                    v-bind:key="index"
                    @click="handleOpenPDF(file_.pdf_name)"
                >
                    <p class="single__item-name">
                        Название файла: {{ file_.pdf_name.split("\\").pop() }}
                    </p>
                    <div
                        v-for="(amount_, index_) in file_.content"
                        v-bind:key="index_"
                    >
                        <p class="single__item-result">
                            <b>№ страницы: </b> {{ amount_.page_num }}
                        </p>
                        <p class="single__item-result">
                            <b>Соответствие:</b> {{ amount_.rate }} %
                        </p>
                        <p class="single__item-result">
                            <b>Результат: </b>{{ amount_.description }}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <Footer />
</template>

<script>
import axios from "axios";
import Footer from "../components/Footer.vue";
import Header_Hack from "../components/Header_Hack.vue";
export default {
    components: {
        Footer,
        Header_Hack,
    },
    data() {
        return {
            groups: [],
            error: "",
            iunput_user: "",
            isLoading: false,
        };
    },
    // async methods() {
    //     try {
    //         await axios
    //             .get("http://localhost:8000/api/one_classification")
    //             .then((response) => {
    //                 console.log(response.data);
    //                 this.groups = response.data;
    //             });
    //     } catch {
    //         console.log("Wrong");
    //     }
    // },
    methods: {
        async result() {
            this.isLoading = true;

            try {
                const response = await axios.get(
                    `http://localhost:8000/api/one_classification/${this.iunput_user}`
                );
                this.groups = response.data;
                this.isLoading = false;
                // this.$router.push({ name: 'sign' })
            } catch (e) {
                this.error = e.message;
                this.isLoading = false;
            }
        },
        handleOpenPDF(file) {
            const filename = file.split("\\").pop();
            console.log(filename);
            window.open(`../../pdf/${filename}`, "_blank");
        },
    },
};
</script>

<style>
.single-classification__list {
    padding: 0;
}

.single__container {
    margin-left: 50px;
}

.single__input-container_top {
    display: flex;
    align-items: center;
    gap: 30px;
}

.single__input-container_bottom {
    margin-top: 20px;
}

.single__input {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #bd9a7a;
    color: #fefefe;
    font-size: 18px;
}

.single__button {
    border-radius: 8px;
    padding: 18px;
    /* height: 40px; */
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    background-color: #9d2235;
    font-weight: 600;
    border: 2px solid #9d2235;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease;
}

.single__button:hover {
    color: #fff;
    background-color: #821b2b;
    border-color: #821b2b;
}
.single__button:active {
    color: #fff;
    background-color: #60131f;
    border-color: #60131f;
}

.single__item {
    margin-top: 30px;
    padding: 15px;
    background-color: #1f264a;
    color: #d0d0d0;
    border-radius: 4px;

    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.single__item:hover {
    box-shadow: 5px 5px 5px rgb(136, 133, 133);
}

.single__item:active {
    box-shadow: 5px 5px 5px rgb(187, 85, 85);
}

.single__item-name {
    color: #dac744;
    font-weight: 600;
    word-wrap: break-word;
}

.single__item-result {
    word-wrap: break-word;
}
</style>
