<template>
    <Header_Hack />
    <div class="main-content">
        <div class="result__container">
            <p class="result__left">info.pages: {{ info.pages }}</p>
            <p class="result__right">info.differensse: {{ info.differensse }}</p>
        </div>
    </div>
    <Footer />
</template>

<script>
import axios from "axios";
// import useState from '../hooks/useState.js'
import Footer from "../components/Footer.vue";
import Header_Hack from "../components/Header_Hack.vue";
// import router from "@/router";
export default {
    components: {
        Footer,
        Header_Hack,
    },
    data() {
        return {
            name: this.$route.query.name_file,
            info: [],
        };
    },
    async mounted() {
        try {
            await axios
                .get(`http://localhost:8000/api/result/${this.name}`)
                .then((response) => {
                    console.log(response.data);
                    this.info = response.data;
                });
        } catch {
            console.log("Wrong");
        }
    },
};
</script>

<style>
.result__container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.result__left, .result__right {
    padding: 15px;
    width: 50%;
    background-color: #1f264a;
    color: #d0d0d0;
    border-radius: 4px;
    text-align: center;
}

</style>
